<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.master.dao.TestMapper" >

  <resultMap id="baseResultMap" type="com.master.model.Test" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="info1" property="info1" jdbcType="VARCHAR" />
    <result column="info2" property="info2" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="listPageTest" parameterType="Page" resultMap="baseResultMap">
        select * from test
  </select>
  
  
    <select id="listPageTest2" parameterType="Test" resultMap="baseResultMap">
        select * from test 
        where 1=1 
        <if test="info1!=null and info1!=''">
            and info1 like "%"#{info1}"%" 
        </if>
    </select>
  
</mapper>